<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Resumen Ichu Team vs Nico Team</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Edu</a></h2>
            <p>Corrió todo el partido, estuvo en todos lados. Generó peligro y marcó correctamente</p>
        </div>

        <div>
            <h2><a href="">Chachi</a></h2>
            <p>Lo bueno: Mucha participacion en el armado ofensivo y cerrando el partido con un gol</p>
        </div>
    </body>
</html>